#root {
  /* max-width: 1280px; */
  min-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.darkTheme {
  
}

.layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 4rem auto 4rem;
  grid-template-areas: 
    "header header header"
    "content content content"
    "footer footer footer";
  
  .header {
    grid-area: header;
    background: red;
    /* height: 60px; */

    .navbar {
      display: flex;
      justify-content: space-between;

      height: 100%;
      padding: 0 1rem;

      .logo {
        background: blue;
        width: 5rem;
      }

      > ul {
        display: flex;
        place-items: center;
        justify-content: flex-end;
        list-style: none;
        
        gap: 1rem;

        & li >a {
          color: white;
        }
      }
    }
  }

  .content {
    grid-area: content;

    padding: 2rem;
  }

  .footer {
    grid-area: footer;
  }
}

.menu {
  display: flex;
  /* display: grid; */
  flex-wrap: wrap;

  /* grid-template-columns: repeat(5, 1fr); */
  gap: 1rem;

  .CardMenu {
    display: flex;
    flex-direction: column;
    place-items: center;
    background: white;

    min-width: 250px;
    width: 320px;
    height: 280px;

    border-radius: 15px;
    border: 1px solid gainsboro;
    box-shadow: 12px 13px 9px -3px rgba(0,0,0,0.1);

    padding: 1rem;
    transition: .2s;
    
    &:hover {
      border-color: blueviolet;
      cursor: pointer;
    }

    p {
      margin: 1.3rem;
    }
    
    >svg {
      height: 45px;
      width: 45px;
    }

  }
}

.inventory {

  >h2 {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: x-large;
  }

  .inventoryList {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(4, 1fr); */
    place-content: center;
    gap: 1rem;

    >a {
      /* z-index: 0; */
    }

    .cardInventoryList {
      display: flex;
      flex-direction: column;

      place-content: center;

      width: 100%;
      min-width: 250px;
      width: 320px;
      height: 280px;

      border-radius: 15px;
      border: 1px solid gainsboro;
      box-shadow: 12px 13px 9px -3px rgba(0,0,0,0.1);
  
      padding: 1rem;
      transition: .2s;
      position: relative;


      header {
        display: flex;
        justify-content: flex-end;
        /* z-index: 1; */

        position: absolute;
        right: 1em;
        top: 1em;
        
        button {
          background: transparent;

          
        }
        
      }
      
      &:hover {
        border-color: blueviolet;
        cursor: pointer;
      }
    }
  }

  .section-inventory {
    display: grid;
    grid-template-areas: 
      "nav nav nav nav nav"
      "content content content content content";
    grid-template-columns: 30% 70%;
    
    .inventory-options {
      grid-area: nav;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      background: red;
      gap: .3rem;
      padding: 0.3rem;
      justify-content: space-between;

      .options-buttons {
        display: flex;
        gap: .5rem;
      }
    }
    .inventory-location {
      grid-area: location;
      background: blue;
      height: 20px;
    }
    .inventory-items {
      grid-area: content;
      background: red;
      overflow-x: auto;
    }
  }
}

.optionButton {
  /* display: flex; */
  position: relative;
  justify-content: flex-end;

  /* .titleButton{
    display: flex;
    place-content: center;
  } */

  >button {
    background: transparent;
    /* padding: 0; */
    /* width: 25px; */
  }

  .dropDown {
    /* display: none;
    position: absolute;

    background: white;
    border: 1px solid gainsboro;
    border-radius: 10px;
    top: 2em;
    left: 0; */
    /* animation: slide-out-of-container 5s infinite; */

    /* .options {
      display: grid;
      margin: .5rem;

      >a {
        margin: .2rem;
        color: #172B4D;
        font-weight: 500;

        &:hover {
          color: #535bf2;

        }
      }
    } */
    
  }

  /* .active {
    display: block;
  } */
}

.actions-button {
  display: flex;
  justify-content: center;
  button {
    /* color: #888787;
    background: #e8e8e9; */
  }
  
}

@keyframes slide-out-of-container {
  to {
    translate: -100cqi;
  }
}