#root {
  /* max-width: 1280px; */
  min-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 4rem auto 4rem;
  grid-template-areas: 
    "header header header"
    "content content content"
    "footer footer footer";
  
  .header {
    grid-area: header;
    background: red;
    /* height: 60px; */

    .navbar {
      display: flex;
      justify-content: space-between;

      height: 100%;
      padding: 0 1rem;

      .logo {
        background: blue;
        width: 5rem;
      }

      > ul {
        display: flex;
        place-items: center;
        justify-content: flex-end;
        list-style: none;
        
        gap: 1rem;

        & li >a {
          color: white;
        }
      }
    }
  }

  .content {
    grid-area: content;

    /* padding: 2rem; */
  }

  .footer {
    grid-area: footer;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;

  gap: 1rem;

  .CardMenu {
    display: flex;
    flex-direction: column;
    place-items: center;
    background: white;

    min-width: 250px;
    width: 320px;
    height: 280px;

    border-radius: 15px;
    border: 1px solid gainsboro;
    box-shadow: 12px 13px 9px -3px rgba(0,0,0,0.1);

    padding: 1rem;
    transition: .2s;
    
    &:hover {
      border-color: blueviolet;
      cursor: pointer;
    }

    p {
      margin: 1.3rem;
    }
    
    >svg {
      height: 45px;
      width: 45px;
    }

  }
}

.inventory {
  padding: 2rem;

  >h2 {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: x-large;
  }

  .inventoryList {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 1rem;

    .cardInventoryList {
      display: flex;
      flex-direction: column;

      place-content: center;

      width: 100%;
      min-width: 250px;
      width: 320px;
      height: 280px;

      border-radius: 15px;
      border: 1px solid gainsboro;
      box-shadow: 12px 13px 9px -3px rgba(0,0,0,0.1);
  
      padding: 1rem;
      transition: .2s;
      position: relative;


      header {
        display: flex;
        justify-content: flex-end;

        position: absolute;
        right: 1em;
        top: 1em;
        
        button {
          background: transparent;

          
        }
        
      }

      .description {
        height: 150px;
        display: flex;
        flex-direction: column;
        gap:1rem;
        .title {
          font-size: 1.5rem;
        }
        p, h2 {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      
      &:hover {
        border-color: blueviolet;
        cursor: pointer;
      }
    }
    
  }

  .section-inventory {
    display: grid;
    /* grid-template-areas: 
      "nav nav nav nav nav"
      "content content content content content"; */
    /* grid-template-columns: 30% 70%; */
    
    /* display: flex;
    flex-direction: column; */

    .inventory-options {
      /* grid-area: nav; */
      display: grid;
      grid-template-columns: repeat(3,1fr);
      background: red;
      gap: .3rem;
      padding: 0.3rem;
      justify-content: space-between;

      .options-buttons {
        display: flex;
        gap: .5rem;
      }
    }
    .inventory-location {
      /* grid-area: location; */
      background: blue;
      height: 20px;
    }
    .inventory-items {
      /* grid-area: content; */
      background: red;
      overflow-x: scroll;
    }
  }
}

.optionButton {
  position: relative;
  justify-content: flex-end;

  >button {
    background: transparent;
  }
}

.actions-button {
  display: flex;
  justify-content: center;  
}

.algo {
  display: flex;
  place-content: center;
}

.formEdition {
  /* width: 45rem; */
  /* max-width: 45rem; */
  background: gainsboro;
  /* height: 100px; */
  display: flex;
  flex-direction: column;

  border-radius: 15px;
  border: 1px solid gainsboro;
  box-shadow: 12px 13px 9px -3px rgba(0,0,0,0.1);
  
  div {
    margin: .5rem;
  }

  input {
    border-radius: 5px;
    /* margin-left: 5px; */
  }

  .formfooter {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    /* bottom: 0px; */
  }
}

.formContent {
  display: grid;
  gap: .3rem;
  /* flex-wrap: wrap; */
  /* gap: 1rem; */
  /* place-content: center; */
  & div {
    display: flex;
    place-content: center;
    /* gap: 1rem; */
    /* margin-bottom: 1rem; */
    /* justify-content: space-between; */
  }
  .number {
    display: flex;
    gap: .2rem;
  }
}

@keyframes slide-out-of-container {
  to {
    translate: -100cqi;
  }
}